@import "partials/_reset";
@import "http://fonts.googleapis.com/css?family=Droid+Serif:400,700.css";

// Base Font Size

$base-size : 16px;
$base-font : 'Droid Serif', serif;

// Media Queries

$small-only: "only screen and (max-width: 640px)";
$medium-only: "only screen and (min-width: 641px) and (max-width: 960px)";
$large-up: "only screen and (min-width: 961px)";

// Colors

$dark-color: #14273D;
$medium-color: #389FA8;
$medium-light-color: #57C1C7;
$light-color: #EFF9EC;
$teal: #45B5BC;
$link-color: #101C2F;

// Standard Padding

$padding: 40px;

html {
  font-family: $base-font;
  font-size: $base-size;
  background-color: transparent;

  @media #{$large-up} {
    background-color: $teal;
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $medium-color;
  }
}
/*
  NOTES FOR FUTURE JACKIE:
    first row: nav
    second row: thing that has h1
    third row: thing that has content/article, aside
    fourth row: footer 
 */

// Nav Bar
.row:nth-child(1) {
  @media #{$small-only} {
    display: none;
  }

  @media #{$large-up} {
    margin-top: 50px;
  }

  margin: auto;
  max-width: 900px;
  text-align: center;
  background-color: $light-color;
  padding: 16px 0 16px 0;

  .nav li {
    display: inline-block;

    a {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

// Stuff with H1
.row:nth-child(2) {
  @media #{$small-only} {
    background-color: $medium-color;
    font-size: .7em;
    padding: 8px 0;
  }
  margin: auto;
  max-width: 900px;
  background-color: $light-color;
  border-top: 1px solid $medium-light-color;
  border-bottom: 1px solid $medium-light-color;
  color: $medium-light-color;
  text-transform: uppercase;
  letter-spacing: .3em;
  font-size: 1.1em;
  text-align: center;

  h1 {
    @media #{$small-only} {
      padding: 0;
    }

    padding: 36px 0;
  }
}

// Content > Article, Aside
.row:nth-child(3) {
  background-color: $light-color;
  padding: $padding;
  margin: auto;
  max-width: 900px;
  border-bottom: 1px solid $medium-light-color;

  @media #{$large-up} {
    padding: inherit;
  }

  a {
    @extend a;
    border-bottom: 1px dashed $medium-light-color;
  }

  h2 {
    font-size: 2em
  }
  
  h3 {
    color: $medium-color;
    margin: 8px 0 32px 0;
  }

  p {
    line-height: 1.5em;

    @media #{$medium-only} {
      padding-bottom: $padding;;
    }
  }

  .content {
    @media #{$large-up} {
      display: block;
      float: left;
      width: 70%;
      padding: $padding;
      box-sizing: border-box;
      border-right: 1px solid $medium-light-color;
    }
  }

  aside {
    @media #{$small-only} {
     display: none;
    }

    @media #{$large-up} {
      display: block;
      float: right;
      width: 30%;
      padding: $padding;
      box-sizing: border-box;
    }

    a {
      border-bottom: none;

      &:hover {
        color: $light-color;
      }
    }

    h4 {
      color: $medium-color;
      font-size: 1.3em;
      
      @media #{$medium-only} {
        padding: $padding 0 10px 0;
      }

      @media #{$large-up} {
        padding: 0 0 10px 0;
      }
    }

    .read_more {
      text-align: center;
      display: block;
      padding: 20px 0;
      background-color: $medium-color;
      color: $medium-light-color;

      @media #{$large-up} {
        margin-top: $padding;
      }
    }
  }

}

footer {
  background-color: $light-color;
  padding: 24px 0;
  margin: auto;
  max-width: 900px;

  @media #{$large-up} {
    margin-bottom: 50px;
  }

  .left {
    @media #{$small-only} {
      display: none;
    }
    @media #{$medium-only} {
      display: none;
    }

    display: block;
    float: right;
    padding-right: $padding;
  }

  .right {
    text-align: center;
    display: block;

    @media #{$large-up} {
      padding-left: $padding;
      float: left;
    }

    .footer_links li {
      display: inline-block;

      a {
        padding-left: 5px;
        padding-right: 5px;

        @media #{$large-up} {
          padding: 0 10px 0 0;
        }
      }
    }
  }


}



/*
- the max-width of the center content is 900px;
- the columns are 70% / 30%
 */

/*
  MOAR SIZES:
    28px height
    10 padding top + bottom

    44px top (under header)

    50px under author/before article text

    50px under text content (before line)

    24px under line, before nav
    28px under nav

    padding-left + padding-right: 40px
 

  top to bottom:
    16 nav 20
    36 h1 38

    50 text 90

    News 20 Braindead

    Braindead 48 Read More box

    20 read more 22
      40 width

    40 container

    24 bottom-nav 26
 */