@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700.css);
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, .row:nth-child(3) a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: 'Droid Serif', serif;
  font-size: 16px;
  background-color: transparent; }
  @media only screen and (min-width: 961px) {
    html {
      background-color: #45B5BC; } }

a, .row:nth-child(3) a {
  color: #101C2F;
  text-decoration: none; }
  a:hover, .row:nth-child(3) a:hover {
    color: #389FA8; }

/*
  NOTES FOR FUTURE JACKIE:
    first row: nav
    second row: thing that has h1
    third row: thing that has content/article, aside
    fourth row: footer 
 */
.row:nth-child(1) {
  margin: auto;
  max-width: 900px;
  text-align: center;
  background-color: #EFF9EC;
  padding: 16px 0 16px 0; }
  @media only screen and (max-width: 640px) {
    .row:nth-child(1) {
      display: none; } }
  @media only screen and (min-width: 961px) {
    .row:nth-child(1) {
      margin-top: 50px; } }
  .row:nth-child(1) .nav li {
    display: inline-block; }
    .row:nth-child(1) .nav li a {
      padding-left: 15px;
      padding-right: 15px; }

.row:nth-child(2) {
  margin: auto;
  max-width: 900px;
  background-color: #EFF9EC;
  border-top: 1px solid #57C1C7;
  border-bottom: 1px solid #57C1C7;
  color: #57C1C7;
  text-transform: uppercase;
  letter-spacing: .3em;
  font-size: 1.1em;
  text-align: center; }
  @media only screen and (max-width: 640px) {
    .row:nth-child(2) {
      background-color: #389FA8;
      font-size: .7em;
      padding: 8px 0; } }
  .row:nth-child(2) h1 {
    padding: 36px 0; }
    @media only screen and (max-width: 640px) {
      .row:nth-child(2) h1 {
        padding: 0; } }

.row:nth-child(3) {
  background-color: #EFF9EC;
  padding: 40px;
  margin: auto;
  max-width: 900px;
  border-bottom: 1px solid #57C1C7; }
  @media only screen and (min-width: 961px) {
    .row:nth-child(3) {
      padding: inherit; } }
  .row:nth-child(3) a {
    border-bottom: 1px dashed #57C1C7; }
  .row:nth-child(3) h2 {
    font-size: 2em; }
  .row:nth-child(3) h3 {
    color: #389FA8;
    margin: 8px 0 32px 0; }
  .row:nth-child(3) p {
    line-height: 1.5em; }
    @media only screen and (min-width: 641px) and (max-width: 960px) {
      .row:nth-child(3) p {
        padding-bottom: 40px; } }
  @media only screen and (min-width: 961px) {
    .row:nth-child(3) .content {
      display: block;
      float: left;
      width: 70%;
      padding: 40px;
      box-sizing: border-box;
      border-right: 1px solid #57C1C7; } }
  @media only screen and (max-width: 640px) {
    .row:nth-child(3) aside {
      display: none; } }
  @media only screen and (min-width: 961px) {
    .row:nth-child(3) aside {
      display: block;
      float: right;
      width: 30%;
      padding: 40px;
      box-sizing: border-box; } }
  .row:nth-child(3) aside a {
    border-bottom: none; }
  .row:nth-child(3) aside h4 {
    color: #389FA8;
    font-size: 1.3em; }
    @media only screen and (min-width: 641px) and (max-width: 960px) {
      .row:nth-child(3) aside h4 {
        padding: 40px 0 10px 0; } }
    @media only screen and (min-width: 961px) {
      .row:nth-child(3) aside h4 {
        padding: 0 0 10px 0; } }
  .row:nth-child(3) aside .read_more {
    text-align: center;
    display: block;
    padding: 20px 0;
    background-color: #389FA8;
    color: #57C1C7; }
    @media only screen and (min-width: 961px) {
      .row:nth-child(3) aside .read_more {
        margin-top: 40px; } }

footer {
  background-color: #EFF9EC;
  padding: 24px 0;
  margin: auto;
  max-width: 900px; }
  @media only screen and (min-width: 961px) {
    footer {
      margin-bottom: 50px; } }
  footer .left {
    display: block;
    float: right;
    padding-right: 40px; }
    @media only screen and (max-width: 640px) {
      footer .left {
        display: none; } }
    @media only screen and (min-width: 641px) and (max-width: 960px) {
      footer .left {
        display: none; } }
  footer .right {
    text-align: center;
    display: block;
    float: left; }
    @media only screen and (min-width: 961px) {
      footer .right {
        padding-left: 40px; } }
    footer .right .footer_links li {
      display: inline-block; }
      @media only screen and (min-width: 641px) and (max-width: 960px) {
        footer .right .footer_links li a {
          padding-left: 5px;
          padding-right: 5px; } }

/*
- the max-width of the center content is 900px;
- the columns are 70% / 30%
 */
/*
  MOAR SIZES:
    28px height
    10 padding top + bottom

    44px top (under header)

    50px under author/before article text

    50px under text content (before line)

    24px under line, before nav
    28px under nav

    padding-left + padding-right: 40px
 

  top to bottom:
    16 nav 20
    36 h1 38

    50 text 90

    News 20 Braindead

    Braindead 48 Read More box

    20 read more 22
      40 width

    40 container

    24 bottom-nav 26
 */